.whatGet-wrap{
    background-color: transparent;
}
.whatGet{
    display: flex;
    flex-wrap: wrap;
    .whatGer__title-wrap{
        width: 100%;
    }
    .whatGer__title{
        margin-top: 32px;
        text-align: center;
        font-family: $font-montserrat;
        @include textProperty(bold,32px,38px);
        color: $purple;
        &::before{
            content:'\003C ';
        }
        &::after{
            content:' \003E';
        }
    }
    .whatGet__img{
        margin-top: 64px;
        height: 380px;
        position: relative;
        left: 0;
        top: 0;
    }
}
.f-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    .content__img{
        margin-top: 38px;
    }
    .content__message{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .content__title{
        margin-top: 27px;
        text-align: center;
        font-family: $font-montserrat;
        @include textProperty(normal,16px,16px);
        color: $grey-dark;
    }
    .content__text{
        margin-top: 14px;
        text-align: center;
        font-family: $font-lato;
        @include textProperty(normal,14px,21px);
        color: $grey;
    }
}
@media screen and (min-width: 481px){
    .whatGet{
        padding: 94px 0 33px;
        .whatGer__title{
            margin-top: 62px;
            @include textProperty(bold,42px,44px);
        }
        .whatGet__img{
            margin-top: 76px;
            margin-left: 70px;
            height: 680px;
        }
    }
    .f-box{
        align-items: flex-start;
    }
    .content{
        display: grid;
        grid-template-columns:minmax(100px, max-content) 1fr;
        column-gap: 23px;
        .content__img-wrap{
            display: flex;
            justify-content: center;
            width: 112px;
        }
        .content__img{
            margin-top: 38px;
        }
        .content__message{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
    
        }
        .content__title{
            margin-top: 50px;
            text-align: start;
            @include textProperty(normal,16px,21px);
        }
        .content__text{
            margin-top: 16px;
            text-align: start;
        }
    }

}
@media screen and (min-width: 993px){
    .whatGet-wrap{
        background-color: #F4F4F4;
    }
    .whatGet{
        display: grid;
        grid-template-columns: minmax(10px, max-content);
        grid-template-rows: minmax(10px, max-content);
        grid-template-areas: 
        "content title"
        "content img";
        column-gap:50px;
        .whatGer__title-wrap{
            grid-area:title;
        }
        .whatGer__title{
            margin-top: 0;
            text-align: center;
            font-family: $font-montserrat;
            @include textProperty(bold,32px,38px);
            color: $purple;
            &::before{
                content:'\003C ';
            }
            &::after{
                content:' \003E';
            }
        }
        .f-box{
            grid-area:content;
            max-width: 480px;
            row-gap: 34px;
        }
        .whatGet__img-wrap{
            position: relative;
        }
        .whatGet__img{
            grid-area:img;
            margin-top: 16px;
            margin-left: 0;
            position: absolute; 
            top: 0;
            left: 0;
            height: 520px;
        }
    }
    .content{
        display: grid;
        grid-template-columns:minmax(100px, max-content) 1fr;
        column-gap: 23px;
        .content__img-wrap{
            display: flex;
            justify-content: center;
            max-width: 112px;
        }
        .content__img{
            margin-top:0;
        }
        .content__message{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        .content__title{
            margin-top: 0;
            text-align: start;
            @include textProperty(normal,16px,21px);
        }
    }

}